BasedOnStyle: LLVM
Language: Cpp
Standard: c11
ColumnLimit: 100
IndentWidth: 4
TabWidth: 4
UseTab: Never
BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
AlignAfterOpenBracket: Align
AlwaysBreakAfterReturnType: None
PointerAlignment: Right
SortIncludes: CaseSensitive
